/*Default Reset Styling*/
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
       
  }

/*different element// thematic styling (ie: font, text size, etc*/
body{
  background-color: #F1FAFF;
}
h1{ 
 font-family: "neue-haas-unica", sans-serif;
 font-weight: 800;
 font-style: normal;
 text-transform: uppercase;
 padding-left: 1rem;
 color: black;
 font-size: 60px;
 background-color: transparent;
 line-height: -8px;
}
h1:hover{
 zoom:1.015;
 color: red;

}

h2{
  
  font-family: "quinn-display", serif;
  font-weight: 300;
  font-style: normal;
 padding-left:2rem ;
 color: black;
 font-size: 70px;
}
h3,label{
  
  font-family: "quinn-display", serif;
  font-weight: 300;
  font-style: normal;
  font-size:20px ;
}
h3:hover{
  zoom:1.015;
}
p{
 font-family: "quinn-display", serif;
 font-weight: 300;
 font-style: normal;
 text-transform: uppercase;
 color: black;
}
li {
  text-decoration: none;
  list-style-type: none;
}

/*Genral Flex Box type Properties */
.container-flex-row{
  display:flex;
  flex-direction: row;
}
/*Nav Bar*/
#nav-bar{
  padding-left:5px;
  padding-top:5px;
  position: relative;
  bottom: 5px;
  border-bottom: 1px solid black;
  background-color: black;
}


ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

ul li{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

ul li a{
  text-decoration: none;
  display: block;
  padding:15px 15px;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size:20px;
  color: white;  
}
ul li a:hover {
  color: hotpink;
  
}

/*--------------------------------------*/
.nav-links ul li a:hover {
  color: hotpink;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.nav-links.show ul {
  display: flex;
  flex-direction: column;
  
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
}
/* IMAGES */
img:hover{
  zoom:1.05;
}



/*Main- Home */
#main-page{
  display: flex;
  flex-direction: row;
}

.text-blurb{
  position: absolute;
  right: 2rem;
  
  padding-top:15rem;
  text-align:right;
  
  width: 35rem;
}
#home-main{
  display: flex;
  flex-direction: row;
}

#left-main{
  
  margin: 3rem;
  justify-content: center;
  text-align: center;
  
}

.image-small{
  width: fit-content;
  max-width: 50rem;
  max-height: 51rem;
}

.home-pic{
  padding-left: 1rem;
  width:20rem;
}
.home-pic-small{
  height:10rem;
  padding-left:2px;
}
.start{
  
  line-height: .9;
}

.next{
  margin-top:3rem;
  border-top:1px solid black;
  background-color: black;
  
}
.text-in-next{
  color: white;
}
#second-half{
  justify-content: end;
  padding-right:3rem;
}

.fit{
  max-height: 25rem;
}

#clock{ 
  position: absolute;
  right:2rem;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 1rem;
  color:white;
  transition: 1ms;
  transition: ease;
  }
/*feedback */
.below{
  margin-top: 7rem;
  background-color: black;
}
.feedback-form {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: palevioletred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

/*music listen to */
.music-player {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.music-player h2 {
  margin-bottom: 20px;
}

audio {
  width: 100%;
  margin-bottom: 20px;
}
/*Dump*/
.container-flex-row-dump{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 10px;
  margin: 8px;
}
.brain-dump-img{
  max-width: 20rem;
  padding: 5px;
 
  height: fit-content;
  max-height: 15rem;
}
.main{
  display: flex;
  flex-direction: column;
  padding-left:2rem;
  padding-top: 2rem;
}
/*About*/
#main-about{
  display: flex;
  flex-direction: row;
}
#scribble{
  
  padding-left: 3rem;
  padding-top: 5rem;
  width: 80%;
  
}
#about-scribble{
  width: 50%;
}
#me{
  display: flex;
  flex-direction: row;
  padding-top:2rem;
  width: 60%;
  justify-content: flex-end;}
  
  #small-pic-about{
    padding-top: 3rem;
    height: 15rem;
  }

#title-about{
  position: absolute;
  right: 1rem;
}
#me-pic{
  width: 20rem;
  padding-top: 3rem;
  padding-right: 1rem;
}





/*Design Display Main Home Page*/
#main-display{
  display: flex;
  flex-direction: row;
}

#main-photo-design-square{
  padding-top:3rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#decription-of-project-general{
  width:50%;
  padding-top: 4rem;
  padding-left: 20px;
  padding-right: 20px;
 
}
#description-of-project-general{
  line-height: .7;
}
.design-display-img{
  width:12rem;
  height:12rem;
 
}





/*Each Individual Design Page*/
.display-image{
  width: 40rem;
  height: 40rem;
  padding-right: 1rem;
}
.display-image-text{
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 4rem;
 
}
.description-block{
  
  padding-left: 1rem;
  padding-right:2rem;
}

.container-flex-row-2{
  display: flex;
  flex-direction: row;
}


/*PHONE MEDIA QUERIE*/

@media only screen and (max-width: 1024px) {
  /*Main Page*/
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 15px;
  }
  .image-small{
    width: fit-content;
    max-width: 30rem;
    max-height: 30rem;
  }
  
  .home-pic{
    padding-left: 1rem;
    width:10rem;
  }
  .home-pic-small{
    height:5rem;
    padding-left:2px;
  }
  .start{
    
    line-height: .9;
  }
  .text-blurb{
    position: absolute;
    right: 2rem;
    
    padding-top:4rem;
    text-align:right;
    
    width: 30rem;
  }
  ul li a{
    font-size: 15px;
  }
  #second-half{
    justify-content: end;
    padding-right:3rem;
  }
  
  .fit{
    max-height: 10rem;
  }
  
  /*About Page*/
  #small-pic-about{
    padding-top: 3rem;
    height: 10rem;
  }

#title-about{
  position: absolute;
  right: 1rem;
}
#me-pic{
  width: 15rem;
  padding-top: 3rem;
  padding-right: 1rem;
}
#about-scribble{
  width: 40%;
}
  
  /*Design Display Main Home Page*/
  #main-display{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .design-display-img{
    width: 10rem;
    height:10rem;
    padding-bottom: .5rem;
  }
  #main-photo-design-square{
    padding-top:3rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #decription-of-project-general{
    width:90%;
    padding-top: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5rem;
   
  }
  #description-of-project-general{
    line-height: .7;
  }
  /*design display image*/
  #individual-design{
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
  }
 
  /*Each Individual Design Page*/
  .display-image{
    width: 30rem;
    height: 30rem;
    padding-right: 1rem;
    
  }
  .container-flex-row-2{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
  .display-image-text{
    padding-bottom: 3rem;
  }
}










@media only screen and (max-width: 768px) {

   /*Main Page*/
   body{
    background-color: black;
   }
   h1{
    font-size: 30px;
    color: white;
  }
  h2{
    font-size: 30px;
    color: white
  }
  h3{
    font-size: 15px;
    color: white
  }
  /*nav*/
  #nav-bar{
    padding-left:5px;
    padding-top:5px;
    position: relative;
    bottom: 5px;
    border-bottom: 1px solid black;
    background-color: white;
  }
  
  
  ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  
  ul li{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
  }
  
  ul li a{
    text-decoration: none;
    display: block;
    padding:10px 10px;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-size:20px;
    color: black;  
  }
  .image-small{
    width: fit-content;
    max-width: 15rem;
    max-height: 15rem;
  }
  
  .home-pic{
    padding-left: 1rem;
    width:8rem;
  }
  .home-pic-small{
    height:5rem;
    padding-left:2px;
  }
  .start{
    
    line-height: .9;
  }
  .text-blurb{
    position: absolute;
    right: 2rem;
    
    padding-top:2rem;
    text-align:right;
    
    width: 15rem;
  }
  ul li a{
    font-size: 15px;
  }
  #second-half{
    justify-content: end;
    padding-right:3rem;
  }
  
  .fit{
    max-height: 10rem;
  }

  /*clock*/
  #clock{ 
    position: absolute;
    right:1rem;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 1rem;
    color:red;
    transition: 1ms;
    transition: ease-in;
    }
 


  /*About Page*/
  #main-about{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    
  }
  #small-pic-about{
    padding-top: 3rem;
    padding-left: 5rem;
    height: 10rem;
    
  }
  #me{
    display: flex;
    flex-direction: row;
    padding-top:2rem;
    
    justify-content: flex-start ;}

#title-about{
  position: absolute;
  right: 1rem;
}
#me-pic{
  width: 15rem;
  padding-top: 3rem;
}
.next{
  margin-top:3rem;
  border-top:1px solid black;
  background-color: white;
  
}
.text-in-next{
  color: black;
}
#about-scribble{
  width: 40%;
}
/*nav*/
.nav-links ul {
  display: none;
}

.hamburger-menu {
  display: block;
}
  /*dump*/
  .container-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*Design Display Main Home Page*/
  #main-display{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .design-display-img{
    width: 8rem;
    height:8rem;
  }
  #main-photo-design-square{
    padding-top:3rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #decription-of-project-general{
    width:90%;
    padding-top: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5rem;
   
  }
  #description-of-project-general{
    line-height: .7;
  }
  /*design display image*/
  #individual-design{
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
  }
 
  /*Each Individual Design Page*/
  .display-image{
    width: 20rem;
    height: 20rem;
    padding-right: 1rem;
    
  }
  .container-flex-row-2{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
  .display-image-text{
    padding-bottom: 2rem;
  }

}